body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3cbaf;
  color: #8b4a4a;
}

header {
  background-color: #560c187a;
  color: rgb(215, 204, 204);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #9e1830;
  display: flex;
  justify-content: center;
}

nav a {
  color: rgb(237, 225, 225);
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  background-color: #ae4545;
}

footer {
  background-color: #222222;
  color: rgb(206, 155, 155);
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

